
<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>


{% comment %} <h1>Welcome to TODO's Application</h1>
<div class = 'clearfix'>
    <a href = "{% url 'register'%}">Signup!!</a>
</div>
<div class = 'clearfix'>
    <a href = "{% url 'login'%}">Login!!</a>
</div> {% endcomment %}
