
{% extends 'Tasks/base.html' %}
{%block content%} 
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action = {%url 'dashboard'%}>
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
{%endblock%} 















{% comment %} <!-- templates/login.html -->
<form method='POST',action="">
    {% csrf_token %}
    <label for = 'email'><b>Email</b></label>
    <input type = "text" placeholder = "Type email here" name = 'email' required>

    <label for = "psw"><b>Password</b></label>
    <input type = "password" placeholder = "Type password here" name = "psw" required>

    <button type="submit">Login</button>
</form>
    <h3>Not Registered?</h3><a href = "{% url 'register' %}">Register here</a>
  
   {% endcomment %}